
<div class="nav">
    <div class='logo'></div>
    <ul class="menu">
        <li class="btMenu">
            <a href="javascript:void(0)">MENU</a>
        </li>
        <li class="menuItem"><a href="@Url.Action("Home", "Landing")">HOME</a></li>
        <li class="menuItem"><a href="@Url.Action("", "")">ABOUT US</a></li>
        <li class="menuItem"><a href="@Url.Action("", "")">KITCHEN</a></li>
        <li class="menuItem"><a href="@Url.Action("", "")">SIGN UP</a></li>
        <li class="menuItem"><a href="@Url.Action("", "")">CONTACT US</a></li>
    </ul>
</div>
