@model RMS.Data.Objects.Entities.Restaurant.ExpenseItem

@{
    ViewBag.Title = "Edit";
}

<!--MODAL HEADER-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Editing @Html.DisplayNameFor(m => m.Title)</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ExpenseCategoryId)
    @Html.HiddenFor(m => m.ExpenseItemId)

<!--MODAL BODY-->
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 form-group">
                    <strong> @Html.LabelFor(model => model.Title, new { @class = "control-label " }) </strong>
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <strong> @Html.LabelFor(model => model.Description, new { @class = "control-label " }) </strong>
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    
<!--MODAL FOOTER-->
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary pull-left" />
    </div>
}
