<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/theme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/theme/assets/css/style.css" rel="stylesheet">
    <link href="~/theme/assets/css/style-responsive.css" rel="stylesheet">
</head>
<body>



    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year -KYTECH</p>
        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/theme/assets/js/jquery.js"></script>
    <script src="~/theme/assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/theme/assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("~/theme/assets/img/login-bg.jpg", { speed: 500 });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>

